<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>OutBox</span>
                <span>4th Floor - Soliz House</span>
                <span>Plot 23 Lumumba Ave</span>
                <span>Kampala</span>
                <span><small><a href="https://goo.gl/maps/PQHmp" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31918.02439545904!2d32.578114!3d0.327734!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177dbb7a190f1b81%3A0x7a8f192b952637b4!2sSoliz+House!5e0!3m2!1sen!2sus!4v1440526856902" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>